<div class="career-path-steps">
	{{#each steps}}
		<a href="#{{slugifyLabel label}}" class="step-link" style="margin-bottom: {{getStepMargin @index}}px;">
			<div 
				class="circle" 
				style="background: radial-gradient(circle at bottom left, {{startColor}}, {{endColor}});"
			>
				{{label}}
			</div>
			<div class="step"></div>
		</a>
	{{/each}}
</div>

